#logo-gsb-navbar img{width : 100px}
#user-name-navabar{margin-right : 10px}

.container{padding : 20px 0}

.navbar-nav i{margin : 0 10px 0 5px}

.nav-tabs{cursor : pointer}

.delete-filters-link{color : red}

.form-group ul{padding : 0}
.form-group li{
    list-style: none;
    color : red;
}
.form-group li::before{
    content : "\f071";
    font-family: "FontAwesome";
    margin-right : 5px;
}